:root{
    --color-white: #ffffff;
    --color-dark-blue: #496c9a;
    --color-light-blue: #4d4d4d;
    --color-light-gray: #e5e5e5;
    --color-dark-grey: #2c2c2c;
    --color-red: #e50026;
    --color-orange: #f7941d;


    --color-primary: var(--color-red);
    --color-secondary: var(--color-orange);
    --color-font-primary:var(--color-dark-grey);
    --color-font-primary:var(--color-dark-blue);

}