.ul-1 {
    display: flex;
}
.li-1 img {
    width: 15px;
    margin-right: 5px;
}

li {
    display: flex; 
    align-items: center; 
    margin-bottom: 10px;
}
li a {
    text-decoration: none; 
    color: inherit;
}

li a:visited {
    color: inherit; 
}
li a:hover {
    background-color: hsla(37.4, 91%, 54%, 0.3); 
    transition: background-color 0.2s ease-in-out 0.3s;
    border-radius: 7px;
}




.contenedor{
    width: 370px;
}

.logo{
    width: 150px;
}
