.banner {
    margin-top: -50%;
}

.banner > img {
    width: 90px;
}

.fieldset {
    display: grid;
    row-gap: 10px;
    padding: 20px;
    border: 3px solid #C12B2A;
    background-color: #FFEFEF;
    border-radius: 5px;
    margin-left: 20px;
}

.photo{
    margin-top: 60px;
    grid-row: 4;
    margin-left: 20px;
}

.fieldset > img {
    padding: 5px;
    width: 40px;
    justify-self: center;
}

.fieldset > label {
    margin-bottom: -10px;
    justify-self: start;
}

form {
    display: grid;
}

#tl {
    position: relative;
    justify-self: start;
    grid-row: 1;
    top: 19px;
    left: 16px;
}

#tr {
    position: relative;
    justify-self: end;
    grid-row: 1;
    top: 18px;
    right: 14px;
}

#bl {
    position: relative;
    justify-self: start;
    grid-row: 3;
    bottom: 14px;
    left: 16px;
}

#br {
    position: relative;
    justify-self: end;
    grid-row: 3;
    bottom: 14px;
    right: 14px;
}

/* Efecto al hacer clic */
.input-nombre:focus, .input-codigo:focus {
    background-color: #d0d0d0; /* Cambio de tono */
    box-shadow: 2px 2px 0px black; /* Menos sombra */
}












.PRUEB{
    --c-0: hsla(37.42857142857143, 91%, 54%, 0.3);
    --x-0: 89%;
    --y-0: 40%;
    --c-1: hsla(0, 100%, 96%, 1);
    --x-1: 72%;
    --y-1: 4%;
    --c-2: hsla(37.42857142857143, 91%, 54%, 0.3);
    --x-2: 86%;
    --y-2: 98%;
    --c-3: hsla(0, 100%, 96%, 1);
    --x-3: 15%;
    --y-3: 17%;
    ;
    background-color: hsla(14.588235294117649, 0%, 100%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3));
    animation: hero-gradient-animation 10s linear infinite alternate;
    background-blend-mode: normal, normal, normal, normal;
}

@keyframes hero-gradient-animation {
    0% {
        --c-0: hsla(37.42857142857143, 91%, 54%, 0.3);
        --x-0: 89%;
        --y-0: 40%;
        --s-start-0: 16%;
        --s-end-0: 64%;
        --c-1: hsla(0, 100%, 96%, 1);
        --x-1: 72%;
        --y-1: 4%;
        --s-start-1: 16%;
        --s-end-1: 64%;
        --c-2: hsla(37.42857142857143, 91%, 54%, 0.3);
        --x-2: 86%;
        --y-2: 98%;
        --s-start-2: 16%;
        --s-end-2: 64%;
        --c-3: hsla(0, 100%, 96%, 1);
        --x-3: 15%;
        --y-3: 17%;
        --s-start-3: 16%;
        --s-end-3: 64%;
    }

    100% {
        --c-0: hsla(0, 100%, 96%, 1);
        --x-0: 3%;
        --y-0: 36%;
        --s-start-0: 16%;
        --s-end-0: 64%;
        --c-1: hsla(37.42857142857143, 91%, 54%, 0.3);
        --x-1: 77%;
        --y-1: 20%;
        --s-start-1: 16%;
        --s-end-1: 64%;
        --c-2: hsla(0, 100%, 96%, 1);
        --x-2: 76%;
        --y-2: 78%;
        --s-start-2: 16%;
        --s-end-2: 64%;
        --c-3: hsla(37.42857142857143, 91%, 54%, 0.3);
        --x-3: 77%;
        --y-3: 90%;
        --s-start-3: 16%;
        --s-end-3: 64%;
    }
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(37.42857142857143, 91%, 54%, 0.3)
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 89%
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 40%
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 16%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 64%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(0, 100%, 96%, 1)
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 72%
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 4%
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 16%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 64%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(37.42857142857143, 91%, 54%, 0.3)
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 86%
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 98%
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 16%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 64%
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(0, 100%, 96%, 1)
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 15%
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 17%
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 16%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 64%
}





