.banner {
    margin: 0 auto;
}

.banner > img {
    width: 90px;
}

.fieldset {
    display: grid;
    row-gap: 10px;
    padding: 50px 30px 60px;
    border: 3px solid #C12B2A;
    background-color: #FFEFEF;
    border-radius: 5px;
    margin-left: 20px;
}

.photo{
    margin-top: 60px;
    grid-row: 4;
    margin-left: 20px;
}

.fieldset > img {
    padding: 5px;
    width: 40px;
    justify-self: center;
    grid-row: 1;
}

.fieldset > label {
    margin-bottom: -10px;
    justify-self: start;
}

.fieldset > input.input-nombre {
    height: 25px;
    width: 100%;
    margin: 5px auto;
    background-image: url(../resources/img/input.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    background-color: transparent;
}

.digit-group {
    display: grid;
    gap: 5px;
    margin-top: 5px;
}

.digit-group > .digit-input {
    width: 21px;
    height: 25px;
    grid-row: 1;
    border: none;
    outline: none;
    background-color: transparent;
    text-align: center;
    background-image: url(../resources/img/miniinput.png);
    background-size: contain;
    background-repeat: no-repeat;
}

form {
    display: grid;
}

#tl {
    position: relative;
    justify-self: start;
    width: 15px;
    grid-row: 1;
    top: 13px;
    left: 17px;
}

#tr {
    position: relative;
    justify-self: end;
    width: 15px;
    grid-row: 1;
    top: 13px;
    right: 12px;
}

#bl {
    position: relative;
    justify-self: start;
    width: 15px;
    grid-row: 3;
    bottom: 12px;
    left: 17px;
}

#br {
    position: relative;
    justify-self: end;
    width: 15px;
    grid-row: 3;
    bottom: 12px;
    right: 12px;
}

.PRUEB {
    background-color: white;
    background-image: radial-gradient(circle at 89% 40%, hsla(37, 91%, 54%, 0.3) 16%, transparent 64%),
                      radial-gradient(circle at 72% 4%, hsla(0, 100%, 96%, 1) 16%, transparent 64%),
                      radial-gradient(circle at 86% 98%, hsla(37, 91%, 54%, 0.3) 16%, transparent 64%),
                      radial-gradient(circle at 15% 17%, hsla(0, 100%, 96%, 1) 16%, transparent 64%);
    animation: hero-gradient-animation 10s linear infinite alternate;
}

@keyframes hero-gradient-animation {
    0% {
        background-image: radial-gradient(circle at 89% 40%, hsla(37, 91%, 54%, 0.3) 16%, transparent 64%),
                          radial-gradient(circle at 72% 4%, hsla(0, 100%, 96%, 1) 16%, transparent 64%),
                          radial-gradient(circle at 86% 98%, hsla(37, 91%, 54%, 0.3) 16%, transparent 64%),
                          radial-gradient(circle at 15% 17%, hsla(0, 100%, 96%, 1) 16%, transparent 64%);
    }
    100% {
        background-image: radial-gradient(circle at 3% 36%, hsla(0, 100%, 96%, 1) 16%, transparent 64%),
                          radial-gradient(circle at 77% 20%, hsla(37, 91%, 54%, 0.3) 16%, transparent 64%),
                          radial-gradient(circle at 76% 78%, hsla(0, 100%, 96%, 1) 16%, transparent 64%),
                          radial-gradient(circle at 77% 90%, hsla(37, 91%, 54%, 0.3) 16%, transparent 64%);
    }
}